[Unit]
Description=elastalert
After=multi-user.target

[Service]
Type=simple
WorkingDirectory={{ elastalert_etc_root }}
ExecStart=/usr/local/bin/elastalert
User=elastalert

[Install]
WantedBy=multi-user.target
